<footer class="footer">
  <small>
    <a href="http://railstutorail.org/">Rails Tutorail</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",    about_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
      <li><a href="http://news.railstutorail.org/">News</a>
    </ul>
  </nav>
</footer>